@import "tailwindcss";

/* Integrasi Tema Shadcn untuk Tailwind v4 */
@theme {
  --variant-dark: (.dark &);
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-primary: hsl(var(--primary));
  --color-secondary: hsl(var(--secondary));
  --color-muted: hsl(var(--muted));
  --color-border: hsl(var(--border));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

/* Tambahkan ini di bagian bawah file global.css jika masih dibutuhkan, 
   tapi dengan v4 biasanya konfigurasi config eksternal lewat CSS sudah tidak wajib */
@config "../../tailwind.config.mjs";

@layer base {
  :root {
    color-scheme: light;
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --secondary: 0 0% 96.1%;
    --muted: 0 0% 96.1%;
    --border: 0 0% 89.8%;
    --radius: 1rem;
  }

  .dark {
    color-scheme: dark;
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --secondary: 0 0% 14.9%;
    --muted: 0 0% 14.9%;
    --border: 0 0% 20%;
    /* --border: 0 0% 14.9%; */
  }

  body {
    @apply bg-background text-foreground;
  }

  /* Animasi transisi tema HANYA aktif di layar besar (Desktop) */
  @media (min-width: 768px) {
    body {
      transition: background-color 200ms ease, color 200ms ease;
    }
  }

  /* Memaksa elemen Marquee mengabaikan kalkulasi berat saat ganti tema */
  .marquee-container {
    contain: content;
  }

  /* Matikan transisi saat tema ditukar, KECUALI untuk tombol toggle */
  .no-transitions,
  .no-transitions::before,
  .no-transitions::after,
  .no-transitions *:not(.theme-switch-input):not(.theme-switch-input ~ *) {
    transition: none !important;
    animation-duration: 0s !important;
  }

  html {
    scrollbar-gutter: stable;
    overflow-y: scroll;
  }

}